@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #000;
  background-image: repeating-linear-gradient(45deg,
      #1b1a1a 0px,
      #141414 2px,
      #000 2px,
      #000 8px);
  background-repeat: repeat;
  background-attachment: fixed;
  color: white;
  overflow-x: hidden;
}

::selection {
  background-color: #b2b2d8;
  color: #000;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  display: none;
}